<div class="about">
  <!-- about page html in here -->
  <div class="flex-parent">
    <div class="flex-child text-center">
      <h1>Old Folks Forum is Made with <%= fa_icon 'heart 1x', class: 'icon-setting' %> for You</h1>
      <h2>Everyone here is old and <%= fa_icon 'signing 1x', class: 'icon-setting' %> fabolous</h2>
      <hr class="short-underline" />
      <h3>A social project created by <%= fa_icon 'user 1x', class: 'icon-setting' %> Terrence C, who is entering the golden age of his life.</h3>
      <hr class="short-underline" />
      <h4>Be Social, Get connected</h4>


      <%= link_to "http://www.facebook.com" do %>
      <%= fa_icon 'facebook 5x', class: 'icon-setting' %>
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "http://www.twitter.com" do %>
      <%= fa_icon 'twitter 5x', class: 'icon-setting' %>
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "http://www.instagram.com" do %>
      <%= fa_icon 'instagram 5x', class: 'icon-setting' %>
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "http://www.whatsapp.com" do %>
      <%= fa_icon 'whatsapp 5x', class: 'icon-setting' %>
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "http://www.snapchat.com" do %>
      <%= fa_icon 'snapchat 5x', class: 'icon-setting' %>
      <% end %>

    </div>
  </div>
</div>
