<div class="comments index" data-id="<%=@post.id%>">
  <!-- comments page html in here -->
  <div class="flex-child text-center">
    <h1><%="#{@post.title}"%></h1>
    <!-- <%= link_to 'Back to Posts', topic_posts_path(@topic), :class => 'btn btn-success btn-lg' %> -->
    <%= paginate @comments %>
  </div>

  <div class="flex-parent text-center">

    <div id="comments">
      <% @comments.each do |comment| %>
        <%= render partial: "comment", locals: {comment: comment, post: @post, extra_class: ''} %>
      <% end %>
    </div>

    <div id="comments-form-container">
      <%= render partial: "form", locals: { comment: @comment, post: @post } %>
    </div>

  </div>

</div>
