<div class="background">
  <div class="content">
    <h1> Welcome to Old Folks Forum </h1>
  </div>
</div>

<div class="background-2">
  <div class="content">
    <h1> Where old people around the world meet </h1>
  </div>
</div>



<section class="features-container">
<h1 class="text-center">Awesome Features</h1>
<div class="features text-center">


  <div class="feature text-center">
    <%= fa_icon 'globe 4x', class: 'icon-setting' %>
    <h2>Truly Global Society</h2>
    <h4>We have members from more than 100 countries in the world</h4>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'blind 4x', class: 'icon-setting' %>
    <h2>Old is Fabolous</h2>
    <h4>You will feel truly at home</h4>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'search 4x theme-color', class: 'icon-setting' %>
    <h2>Extra Large Text</h2>
    <h4>Our forum is accessible to those with eyesight issue</h4>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'users 4x theme-color', class: 'icon-setting' %>
    <h2>Lots of Old Friends</h2>
    <h4>Your old classmates might be here already</h4>
  </div>
</div>
</section>


<section class="images-container">
<div class="images text-center">
  <div class="image text-center">
    <div class="invisible-layout">
    <div class="content-hover">
      <h2>Even from north pole!</h2>
    </div>
    </div>
    <%= image_tag "polarbear.jpg", class: 'image-box' %>
  </div>
  <div class="image text-center">
    <div class="invisible-layout">
    <div class="content-hover">
      <h2>Be the real you!</h2>
    </div>
    </div>
    <%= image_tag "pineapple.jpg", class: 'image-box' %>
  </div>
  <div class="image text-center">
    <div class="invisible-layout">
    <div class="content-hover">
      <h2>Burn your magnifier!</h2>
    </div>
    </div>
    <%= image_tag "burning.jpg", class: 'image-box' %>
  </div>
  <div class="image text-center">
    <div class="invisible-layout">
    <div class="content-hover">
      <h2>Come join us for a journey!</h2>
    </div>
    </div>
    <%= image_tag "steering.jpg", class: 'image-box' %>
  </div>
</div>
</section>


<section class="features-container">
<h1 class="text-center">Stay in Touch</h1>
<hr class="short-underline" />
<div class="footer text-center">
  <h3>Contact us if you have any question or feedback. We will reply you within 24 hours.</h3>
  <div class="feature text-center">
    <%= fa_icon 'phone 4x', class: 'icon-setting fa-pulse' %>
    <h3>+60-16-9876543</h3>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'envelope-o 4x', class: 'icon-setting fa-pulse' %>
    <h3><a href="#">forum@oldfolks.org</a></h3>
  </div>
</div>
</section>
