<div class="posts">
  <!-- posts page html in here -->

  <div class="flex-child text-center">
    <h1><%="#{@topic.title}"%></h1>
    <!-- <%= link_to 'Back to Topics', topics_path, :class => 'btn btn-success btn-lg' %> -->
    <%= paginate @posts %>
  </div>

  <div id="posts" class="flex-parent text-center">
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post, topic: @topic } %>
      <% end %>
  </div>

  <div id="posts-form-container" class="flex-parent text-center">
      <%= render partial: "form", locals: { post: @post, topic: @topic } %>
  </div>

  </div>

</div>
