<!DOCTYPE html>
<html>
<head>
  <title>Old Folks Forum</title>
  <% if current_user %>
    <meta me="<%=current_user.username%>">
    <% if current_user.admin? || current_user.moderator? %>
      <meta magic="oldguard">
    <% end %>
  <% end %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="header">
    <%= render partial: 'partials/header' %>
  </div>
  <div id="flash_messages-container">
    <%= render partial: "partials/flash_messages" %>
  </div>
  <%= render partial: "sessions/login" %>
  <%= render partial: "users/register" %>
  <%= yield %>
</body>
</html>
